<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67c1fc">  <td>21/11/25 13:31:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleTest.setup(org.testng.ITestContext)[pri:0, instance:com.core.Test.SampleTest@9a7504c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Parallel Test-1@1035820014</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>21/11/25 13:31:54</td>   <td>3506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.readExcel()[pri:0, instance:com.core.Test.SampleTest@9a7504c]">readExcel</td> 
  <td>TestNG-test=Parallel Test-1@1035820014</td>   <td></td> </tr>
</table>
