<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67c1fc">  <td>22/03/27 14:41:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleTest.setup(org.testng.ITestContext)[pri:0, instance:com.core.Test.SampleTest@5bb21b69]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2051853139</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>22/03/27 14:41:33</td>   <td>4327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.readExcel()[pri:0, instance:com.core.Test.SampleTest@5bb21b69]">readExcel</td> 
  <td>main@2051853139</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>22/03/27 14:41:34</td>   <td>5000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.sampleTestBrowserGoogle()[pri:0, instance:com.core.Test.SampleTest@5bb21b69]">sampleTestBrowserGoogle</td> 
  <td>main@2051853139</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>22/03/27 14:41:48</td>   <td>19262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.sampleTestGmail()[pri:0, instance:com.core.Test.SampleTest@5bb21b69]">sampleTestGmail</td> 
  <td>main@2051853139</td>   <td></td> </tr>
</table>
